$gray: #E5E5E5;
$gray-text: #3B4256;
$gray-close: #bcc3ca;
$blue: #3684E2;
$dark-blue:#0061D9;
$blueBtn: #0061D9;
$white-text: #FFFFFF;
$input: #F5F5F7;

$border: 1px solid red;
$border1: 1px solid blue;

$front: 'GOST UI 2', Arial, sans-serif;
$size: 18px;

$paddingT: 16px;

@mixin flex() {
     display: flex;
     align-items: center;
   }

@mixin normalText() {
     font-family: $front;
     font-weight: normal;
     font-size: $size;
     line-height: 24px;
     color: $white-text;
}

@mixin SFbold() {
     font-family: 'SF Pro Display', Arial, sans-serif; 
     font-size: 21px;
     font-weight: 700;
     line-height: 32px;
     letter-spacing: 0em;
}

@mixin numbers() {
     font-family: 'SF Pro Display';
     font-size: 22px;
     line-height: 28px;
     color: $white-text;
}

%number-circle {
     width: 48px;
     height: 48px;
     margin: 16px 32px 0 16px;
     background-image: url("../img/ellipse_blue.png");
     display: flex;
     span {
          font-family: 'SF Pro Display';
          font-size: 22px;
          line-height: 28px;
          color: $white-text;
          margin: auto;  
     }
}
  
@font-face {
     font-family: 'SF Pro Display';
     src: url("../fonts/SFPro/SFProDisplay-Bold.woff2");
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: 'GOST UI 2';
     src: url("../fonts/GOST 2.304 A/GostUI_Regular.TTF");
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: 'GOST UI 2';
     src: url("../fonts/GOST 2.304 A/GostUI_Bold_G.TTF");
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: 'GOST UI 2';
     src: url("../fonts/GOST 2.304 A/GostUI_Medium.TTF");
     font-weight: 600;
     font-style: normal;
 }

* {
     margin: 0; 
     padding: 0;
     box-sizing: border-box;
 }

body {
     margin: auto;
     background: $gray;
     color: $gray-text;
     font-family: $front;  
     font-size: $size;
     a {
          text-decoration: none;
          color: $white-text;
     }
}

header {
     background: $blue;
     color: $white-text;
     margin-bottom: 64px;
     p {
          font-weight: 700;
     }
}



 .container {
     width: 1120px;
     margin: auto;
     .wrapper {
          @include flex();
          padding: 16px 0;
          justify-content: space-between;
          .login {
               @include flex();                
               img {
                    opacity: 0.5;
               }
               .username {
                    padding: 0 28px 0 15px;
               }
          }
          .upper-logo {
               @include flex();
               p {
                    margin-left: 21px;
               }
                    
          }
     }
}

main {
     .container {
          display: flex;
          &:first-child {
               border-bottom: 1px solid rgba(59,66,86,0.3);
          }
          .main-wrapper {
               width: 736px;
               margin-right: 126px;
               
               h1 {
                    font-family: 'SF Pro Display', Arial, sans-serif;
                    font-size: 48px; 
                    line-height: 56px;
                    padding-bottom: 0.5em;
               }
               p {
                    line-height: 1.33333em;
                    padding-bottom: 40px;
               }
          }
          .down {
               background: $white-text;
               margin-bottom: 24px;
               border-radius: 4px;
               &:first-child {
                    margin-top: 40px;
               }
               h2 {
                    @include SFbold();
               }
               .box-number {
                    @extend %number-circle;
               }
               .wrapper-form {
                    display: flex;
                    align-items: baseline;
               }
               .closed {
                    h2 {
                         color: $gray-close;
                    }
                    .box-number {
                         background-image: url("../img/ellipse_gray.png");
                         margin: 16px 32px 16px 16px;
                    }
               }
               
          }

     }
}



 .logo {
     img {
          margin: $paddingT 0;
     } 
     p {
          font-size: medium;
          font-weight: 700;
          line-height: 20px;
     }
     p:last-child {
          font-weight: 400;
          font-size: 14px; 
     }    
 }



 form {
     margin-top: 24px;
     .form-box {
          display: flex;
          flex-direction: column;
          margin-left: 96px;
          width: 448px;
         
          .radio {
               position: absolute;
               clip: rect(1px,1px,1px,1px);
               height:1px;
               width:1px;
               &:checked ~ .radio-text-up::before {
                    background-image: url(../img/radio_checked.png);
          }
       
        }
       .active {
          background: $white-text;
          outline: 2px solid $blueBtn;
   
     
        }
        label:not(.active) {
           background: $input;
     }
          .radio-item {
             padding: $paddingT;
             margin-bottom: $paddingT;
             border-radius: 4px;
               .radio-text-up {
                    font-weight: 700;
                    &:before {
                         content: "";
                         display: inline-block;
                         vertical-align: middle;
                         margin-right: 12px;
                         width: 20px;
                         height: 20px;
                         background-image: url(../img/radio_no_checked.png);
                         background-repeat: no-repeat;
                         background-position: center center;
                         background-size: 20px;     
                    }
               }  
               .radio-text-down {
                    padding-left: 32px;
               }
           }
          .continue {
               background: $blueBtn;
               border-radius: 4px;
               margin-bottom: 24px;
               border: none;
               @include normalText();
           
               .btn-text {
                    padding: 12px 0;
               }
           }
       }
    
  }


.form {
     flex-direction: column;
     padding-bottom: 288px;
}


